#cor-1{
background-color:black;
border:1px solid black ;
width:60px;
height:60px;
display: inline-block;
border-radius:10px;

}
#cor-2{
    background-color:aquamarine;
    border:1px solid black ;
    display: inline-block;
    width:60px;
    height:60px;
    border-radius: 10px;

}
#cor-3{
    background-color: plum;
    border:1px solid black ;
    display:inline-block;
    width:60px;
    height:60px; 
    border-radius: 10px;
   
}
#cor-4{
    background-color: rgb(167, 67, 167);
    border:1px solid black ;
    display:inline-block;
    width:60px;
    height:60px;
    border-radius: 10px;

}

